/*<!-- //Name Suraj Kumar -->
<!-- Reg NO-2020PGCACA90// -->*/

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(187, 186, 186);
  background-size: 280%;
}
div.main {
  width: 500px;
  height: 550px;
  margin: 100px auto 0px auto;
}

.button:hover
{
    border:0px solid #075319;
    background-color:#0a6b43;
    
}
h2 {
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
}
.button {
  width:150px;
  height:30px;
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  background-color:gray;
border:0px solid #2957c4;
color:white;
overflow:hidden;
font-family:Arial; 
  font-size:12px; 
  font-weight:bold;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
div.Attendence {
  background-color: white;
  width: 140%;
  height: 80%;
  font-size: 15px;
  border-radius: 10px;
  align-items: center;
  border: 5px solid rgb(75, 74, 74);
  box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.3);
  color: rgb(8, 7, 7);
}
form#Attendence {
  margin: 40px;
}
label {
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
}
input#guardID {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: 0;
  padding: 7px;
  background-color: #fff;
}
input#Entime {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: 0;
  padding: 7px;
  background-color: #fff;
}
input#Extime {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: 0;
  padding: 7px;
  background-color: #fff;
}
input#guardname {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: 0;
  padding: 7px;
  background-color: #fff;
}
input#date {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: 0;
  padding: 7px;
  background-color: #fff;
}

input#guardloc {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: 0;
  padding: 7px;
  background-color: #fff;
}

label,
span,
h2 {
  color: black;
}
