/*<!-- //Name Ayush Tripathi  -->
<!-- Reg NO-2020PGCACA19// -->*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(187, 186, 186);
}
.container {
  max-width: 1000px;
  height: 720px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}
.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  margin: 10px;
}
.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
 
}
.content .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
.user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}
form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
.button {
  background-color: grey; 
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 25px;
    border: 1px solid rgb(191, 196, 202);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button:hover
{
    border:0px solid #075319;
    background-color:#0a6b43;
    
}
@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
  .watermark {
    margin: 10px;
    position: relativec;
  }
  .watermark::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "COPYRIGHT";
  }
}
@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}

@media print {
  #Prbtn,
  #Serbtn,
  #btn {
    display: none;
  }
  body {
    height: 65vh;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #fff;
  }
  #title {
    text-align: center;
  }
  #watermark {
    height: 100px;
    width: auto;
  }
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
